<html>
    <head>
        <title>My First Web Page</title>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>


    </head>
    <body>
        <div class="container">
            <div id="weatherChart" style="width: 1000px;height:600px;">
            
            </div>
        </div>
</html>